.accomodationContainer {
  width: 100%;
}

/* ⬇ This is all the informations below the slider. */
.infoContainer {
  width: 100%;
}

/* ⬇ Contains the title, location, tags, landlord and rating. */
.infoContainer-header {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: 100%;
}

.infoContainer-header-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 65%;
}
.infoContainer-header-left h1 {
  color: #ff6060;
  font-weight: 500;
  font-size: 2.4rem;
  margin-bottom: 0.3rem;
  cursor: default;
}
.infoContainer-header-left p {
  color: #ff6060;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1rem;
  cursor: default;
}
.infoContainer-header-left-tags {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.infoContainer-header-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.infoContainer-header-right-landlord {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.infoContainer-header-right-landlord-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  overflow: hidden;
  border-radius: 50%;
  background: gray;
  margin-left: 13px;
}
.infoContainer-header-right-landlord img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}
.infoContainer-header-right-landlord p {
  color: #ff6060;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 25px;
  text-align: right;
  cursor: pointer;
  transition: all ease 0.2s;
}
.infoContainer-header-right-landlord p:hover {
  text-decoration: underline;
}
.infoContainer-header-right-landlord p:active {
  color: #fa9999;
}

.infoContainer-description {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.4em;
}

@media screen and (max-width: 1240px) {
  .accomodationContainer {
    padding: 0 15px;
  }
}

@media screen and (max-width: 992px) {
  .accomodationContainer {
    padding: 0 40px;
  }

  .infoContainer-header {
    flex-direction: column;
  }

  .infoContainer-header-left {
    max-width: 100%;
  }
  .infoContainer-header-left h1 {
    font-size: 2rem;
  }
  .infoContainer-header-left p {
    font-size: 1.4rem;
  }
  .infoContainer-header-left-tags div {
    border-radius: 7px;
    margin-right: 20px;
    padding: 5px 20px;
  }

  .infoContainer-header-right {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5em;
  }

  .infoContainer-header-right-landlord p {
    font-size: 1rem;
    line-height: 20px;
    max-width: 5rem;
    text-align: right;
  }

  .infoContainer-description {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}

@media screen and (max-width: 768px) {
  .accomodationContainer {
    padding: 0 20px;
  }
}
